body{
font-family: 'Raleway';
margin: 0;
padding: 0;

}


  * {
    margin: 0;
    padding: 0;
  }
  

#body-bootstrap-overrides{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    background-color: #614be0;
    color: white;
}


#leve-ja-fez{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    background-color: white;
    color: white;
}

#body-eh-hora{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    background-color: white;
    color: black;

}

#open{
    background-color: white;
    width: 100%;
    height: 100vh;
}
.open-logo{
    /* margin: auto; */
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    z-index: 10;
}


#bootstrap-overrides-zericardo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    background-color: black;
    color: white;
    background-image: url('images/FOTOTRATADA.jpg');
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;


}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
   
    z-index: 1;

    top: 50px;
    left: 50px;
}



#main{
    margin-left: 100px;
}




/*
NAVIGATION BAR
 */

#nav-Div{
    position: fixed;
}
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   /* color: white; */
   transition: color 0.3s ease;
   font-stretch: 55%;

 }
 
 #menuToggle a:hover
 {
    text-decoration: line-through;
}


 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
      list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 14px;
   font-weight: 400;
   transform:scale(0.3,1); 
   -webkit-transform:scale(0.8,1);
   
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 /* //////////////////////////////////////////SUB MENU */

 #hide{
     /* display: none;
     transition:0s 180s; */
    /* display:none; */
     /* transition: all 0s; delay 1s */
    height: 0;
    /* display: block; */
    transition: all 0s ease 3s; /*delay 1s*/
    visibility: hidden;
    margin-top: 0;
     /* transition: all 0s ease 10s;  */
 }

 .activate-menu:hover + #hide
 {
    transition-delay: 0s;
    visibility: visible;
    height: 100%;
    margin-top: 10px;
    /* display: block;
    height: 200px;
    transition:0s ; */
    /* transition-delay: 0s; */
    /* display: block; */
    /* -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    position: absolute;
    left: -999px;
  
 }
 }
/* .hide:hover .hide-item,
.hide:focus .hide-item {
  position: absolute;
  left: -999px;
} */
 }
.sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
/* .sub-menu a{
    color: gray;
    font-weight: 10px;
    font-size: 12px; 
    font-style: italic;
    margin-top: 8px;
} */

#sub-nav-link{
    color: gray;
    font-weight: 10px;
    font-size: 12px; 
    font-style: italic;
    margin-top: 8px;
}
/* 
.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
  } */

 /* END OF MENU */
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  /* #main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 70px;
    margin-right: 50px;
  } */


.titulo{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-content: flex-start;
    z-index: 1;
    font-weight: 100;
    /* min-height: calc(100vh - 50px); */
}


.titulo-right{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    align-content: flex-end;
    z-index: 1;
    /* min-height: calc(100vh - 50px); */
    text-align: right;
    margin-right: 100px;

}

.hr-essa{

    width: 100%;
    border: 2px solid;
    opacity: 100;
}

.hrh1{
    width: 100%;
    border: 2px solid;
    opacity: 100;
}

#ressoa{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    align-content: flex-end;
    z-index: 1;
    min-height: calc(100vh - 50px);

}


h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
    font-size: 100px;
    text-transform: uppercase;
    transform:scale(0.3,1); 
    -webkit-transform:scale(0.8,1);
    display:inline-block; 
}


h6 {
    font-family: 'Raleway';
    font-stretch: 75%;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    text-align: justify;
    text-justify: left;
    text-transform: none;
    letter-spacing: 1px;
    line-height: 32px;
}

h7{
    margin-top: 100px;
    line-height: 40px;
}

b {
    font-family: 'Raleway';
    font-weight: 400;
}

p {
    color: black;
    font-stretch: semi-condensed;

}



#h1B{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 100px;
}



.socialbar{
    background-color: white;
    width: 100%;
    height: 100px;
    color:#614be0;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    display: flex;
	flex-direction: row;
}


.icon{
    /* margin-top: 6px;
    margin-right: 5px;
    margin-bottom:10px; */
    width: 50px;
}

.social-logo{
    width: 130px;
    margin-left: 30px;
}

.social-icons{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
    align-content: flex-end;
    margin-left: 60%;
    margin-right: 5%;

}

/* CONHECA O ZE RICARDO */
.ze-ricardo{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
    align-content: flex-end;
    /* z-index: 1; */
    /* min-height: calc(100vh - 50px ); */
    margin-bottom: 300px;
    margin-right: 100px;
}



.quote {
    width: 50%;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 100;
    display:flex;
    flex-direction: column;
    justify-content: center;

}    

.aspas{
    font-family: 'Quincy';
    font-size: 20px;
}

/* quincy medium */


/* CONCECTE */

.conecte-Div{
    margin: 100px 100px;
}

.conecte-frase{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.icon-conecte{
    width: 50px;
    height: 50px;
    margin-top: -6px;
}

/* CRISTO */
.titulo-cristo{
    width: 900px;
    margin-bottom: 120px;
}

.cristo-Div{
    margin-left: 100px;
    color: black;

    /* background-color: black; */
}

.cristo-container{

    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	/* align-items: baseline; */
	align-content: flex-start;
    /* display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-content: center; */
    margin-left: 50px;
}

.cristo-Img{
    width: 400px;
    height: 500px;
    border: 1px solid white;
    margin-bottom: 50px
}
.cristo-text{
    font-size: 21px;
    width: 400px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;

}
.cristo-ficha{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: flex-start;
    width: 400px;
    margin-left: 100px;

}

/* CRISTO GALLERY */
.box-cristo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    height: 70vh;
    /* border: 1px solid black; */
    font-size: 50px;
    transition-duration: 1s;
    background-position: center;
    background-size: cover;
   
}

.box-cristo:hover{
    flex: 4;   
    /* four times more than the others  */
}

.gallery{
    display: flex;
    height: 100vh;
    align-items: center; 
    margin-left: 50px;
}

.box-cristo:nth-of-type(1){
    background-image: url("images/cristo-na-pascoa/IO7A9690.jpg");
}
.box-cristo:nth-of-type(2){
    background-image: url("images/cristo-na-pascoa/IO7A9719.jpg");
}
.box-cristo:nth-of-type(3){
    background-image: url("images/cristo-na-pascoa/IO7A9741.jpg");
}
.box-cristo:nth-of-type(4){
    background-image: url("images/cristo-na-pascoa/IO7A9720-1.jpg");
}
.box-cristo:nth-of-type(5){
    background-image: url("images/cristo-na-pascoa/IO7A9798-1.jpg");
}


@media(max-width: 480px){
    .gallery {
        flex-direction: column;
    }
    .box-cristo {
        width: 80vw;
    }
}



/* GILBERTO */


.gilberto-Div{
    /* width: 100%; */
    /* height: 100%; */
    color: black;
    /* margin-right: 200px; */
    /* display: block;
    top: 0;
    left: 0; */
    
}

.titulo-gil{
    width: 900px;
    margin-left: 400px;
    margin-bottom: 120px;

}


.gil-text{
    font-size: 21px;
    width: 400px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.pic-gil-apresenta{
    width: 400px;
}

.gil-container{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;

}

.gil-ficha{
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-content: flex-end;
    text-align:right;
    margin-right: 150px;
}

.box-gil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    height: 70vh;
    /* border: 1px solid black; */
    /* font-size: 50px; */
    transition-duration: 1s;
    background-position: center;
    background-size: cover;
    
}


.box-gil-video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 1;
    transition-duration: 1s;
    border: none;

}


.box-gil:nth-of-type(1){
    background-image: url("images/live-gil-e-isa/IMG_6608.jpg");
}
.box-gil:nth-of-type(2){
    background-image: url("images/live-gil-e-isa/Live_Gil_Iza.JPG");
}
.box-gil:nth-of-type(3){
    background-image: url("images/live-gil-e-isa/IMG_1081.jpg");
}
.box-gil:nth-of-type(4){
    /* background: url("images/live-gil-e-isa/IMG_6611.MOV"); */
}
.box-gil:nth-of-type(5){
    background-image: url("images/live-gil-e-isa/IMG_6597.jpg");
}
.box-gil:nth-of-type(6){
    background-image: url("images/live-gil-e-isa/IMG_6591.jpg");
}

.box-gil:hover{
    flex: 4;   
    /* four times more than the others  */
}

*::-webkit-media-controls-panel {
    background-color: transparent !important;
 }

video::-webkit-media-controls-panel {
    width: 20px;
  }

video{
    width: 40vh;
    height: 70vh;  
}


/* 
ul.images {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 900px;
    overflow-x: auto;
    background-color: #ddd;
  }
  ul.images li {
    display: inline;
    width: 150px;
    height: 150px;
  } */
/* ///////////////////MILTON */

  .milton-Div{
/* 
    width: 100%;
    height: 100%; */
    color: black;
    margin-left: 100px;

    /* margin-right: 200px; */
    /* display: block;
    top: 0;
    left: 0; */
  }

  .milton-text{
    font-size: 21px;
    width: 400px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;

  }

  .pic-milton-apresenta{
    width: 500px;
  }

  .milton-container{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
  }
  .milton-ficha{
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-content: flex-end;
    text-align:right;
    margin-right: 150px;
  }

  /* LIVE DA FORD */


  .ford-Div{
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      color: black;
    }

    .titulo-ford{
        width: 900px;
        margin-bottom: 120px;

    }
    
      .ford-text{
        font-size: 21px;
        margin-top: 50px;
        width: 400px;

        /* margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px; */
    
      }
    
      .ford-pic{
        width: 70%
      }
    
      .ford-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
      }

